<article>
    <label><b>{{liste?.title}}</b> / <span>{{liste?.entite}}</span> {{liste?.lieu}}</label>
    <ng-container>
        <blockquote *ngIf="liste?.dateFin === undefined; else datefin">Depuis {{liste?.dateDebut}}</blockquote>
        <ng-template #datefin>
            <blockquote>De {{liste?.dateDebut}} à {{liste?.dateFin}}</blockquote>
        </ng-template>
    </ng-container>
    <markdown *ngIf="liste?.description !== undefined" [data]="liste?.description"></markdown>
</article>