<h1>Historique des modifications</h1>

<p>Le code source du projet est disponible à l'adresse suivante : <a href="https://gitlab.com/AurelienAVZN/curriculumvitae" target="_blank">curriculumvitae - GitLab</a></p>

<div id="accordion">
  <div *ngFor="let item of propos$ | async; let index i" class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" [attr.data-target]="'#collapse'+ item.id" aria-expanded="false">
          {{item.version}}
        </button>
      </h5>
    </div>
    <div id="collapse{{item.id}}" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <ul>
          <li *ngFor="let subitem of item.subversion">
            {{subitem.version}}
            <ul>
              <li *ngFor="let subsubitem of subitem.subversion">{{subsubitem.version}}</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
