<div id="entete" *ngIf="entete$ | async let header">
    <div>
        <img src="../../../assets/pictures/face.png" width="75" height="95"/>
        <section>
            <h3>Aurélien Avanzino</h3>
            <h5 *ngFor="let item of header.entete.intitule">{{item}}</h5>
        </section>
    </div>
    <ul id="coordonnees">
        <ng-container *ngFor="let item of header.infos">
            <li id="{{item.id}}" *ngIf="item.value.includes('XX'); else otherTemplate" data-toggle="modal" data-target="#infosComplementaires">{{item.value}}</li>
            <ng-template #otherTemplate>
                <li id="{{item.id}}">{{item.value}}</li>
              </ng-template>
        </ng-container>
    </ul>
</div>
<div id="content">
    <form>
        <section>
            <h6>Diplômes et Formations</h6>
            <app-content *ngFor="let item of diplomes$ | async; index as i" [liste]="item"></app-content>
            <a id="seeMore">Voir Plus</a>
        </section>
        <section>
            <h6>Expériences professionnels et projets</h6>
            <app-content *ngFor="let item of experiences$ | async; index as i" [liste]="item"></app-content>
            <a id="seeMore">Voir Plus</a>
        </section>
    </form>
    
    <aside>
        <section *ngFor="let categorie of categorie$ | async; index as i">
            <h6>{{categorie.title}}</h6>
            <li *ngFor="let item of categorie.values">
                <blockquote>{{item.title}} <span *ngIf="item.infos !== undefined">{{item.infos}}</span></blockquote>
            </li>
        </section>
    </aside>
</div>