li[id^="mail"]::before{content: "📧";}
li[id^="adresse"]::before{content: "🏡";}
li[id^="birth"]::before{content: "📆";}
li[id^="permis"]::before{content: "🚗";}

li{list-style: none;}
h6, h5{color: dodgerblue;}
span{color:deepskyblue}

#entete{
    display: grid;grid-template-columns: 3fr 1.5fr;
    ul{margin-top: 25px;margin-right: 15px;list-style: none;}
    div{
        margin-left: 35px;
        margin-top: 25px;
        img{
            float: left;
            margin-right: 50px;
        }
    }
}
#content{
    display: grid;
    grid-template-columns: 3fr 1.25fr;
    blockquote{ 
        font-size: small;
        span{
            &::before{
                content: "- ";
                color: black;
            }
        }
        
    }
    form{
        margin-left: 35px;
        max-width: 90%;
        h6{margin-bottom: 25px;margin-top: 25px;}
    }
    aside{
        h5{margin-bottom: 15px;}
        section{line-height: 1em;}
    }
}