<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
   
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <ng-container *ngFor="let item of menu$ | async; index as i">
        <!--GESTION DES MENUS AVEC SOUS-MENUS-->
        <ng-container *ngIf="hasSubRoute(item); else elseTemplate">
          <div ngbDropdown>
            <button id="{{item.idclass}}" class="btn transition" id="dropdownBasic1" ngbDropdownToggle>{{item.name}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="btn transition" [routerLink]="subitem.route" *ngFor="let subitem of item.subroute">
                {{subitem.name}}
              </button>
            </div>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <li id="{{item.idclass}}" class="transition btn" [routerLink]="item.route">
            <a routerLinkActive="active" [routerLink]="item.route">{{item.name}}</a>
          </li>
        </ng-template>
      </ng-container>
      <div ngbDropdown>
        <button type="button" class="btn transition" id="langDrop" ngbDropdownToggle>
          <img width="50" height="30" [src]="picture()"/>
        </button>
        <div ngbDropdownMenu aria-labelledby="langDrop">
          <button type="button" class="btn transition" *ngFor="let item of lang$ | async; index as i" (click)="language(item)">
            <img width="50" height="30" title="{{item.title}}" alt="{{item.lang}}" src="{{item.picture}}"/>
          </button>
        </div>
      </div>
    </ul>

    <form>
      <a *ngFor="let item of social$ | async; index as i" href="{{item.route}}" target="blank" class="circle-link transition" title="{{item.name}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img width="23" height="23" src="{{item.image}}"/>
      </a>
    </form>
  </div>
</nav>  