.navbar, .dropdown-menu{ background-color: #1976d2; }
nav{ min-width: 314px; min-height: 15%; display: flex;}
nav li { display: flex;}
form{ 
  margin-left: auto; 
  display: flex;
  button img{
    width: 100%;
    height: 100%;
  }
}
.circle-link img{margin-top: 7px;margin-left: 7px;}
.circle-link {height: 40px;width: 40px;border-radius: 40px;
  margin: 8px;background-color: white;border: 1px solid #eeeeee;
  display: inline-block;cursor: pointer;
}


*[id^="Accueil"]::before{content: "🏠";}
*[id^="Experiences"]::before{content: "✔️";}
*[id^="Projets"]::before{content: "🛠️";}
*[id^="centreInteret"]::before{content: "📝";}
*[id^="meContacter"]::before{content: "📞";}
*[id^="about"]::before{content: "❓";}

.transition {transition: 0.5s ease-out;}
.transition:hover {transform: translateY(-0.25rem);box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);}
.btn {color: black}
.btn:hover {background-color: white;}
a {color: black; text-decoration: none;}