.bd-placeholder-img {font-size: 1.125rem;text-anchor: middle;-webkit-user-select: none;-moz-user-select: none;user-select: none;}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {font-size: 3.5rem;}
}
h1{margin-top: 50px;}
label{margin-top: 10px;}
.form{width: 60%;margin: auto;}
.forPass{margin-top: 5px;}
.form-control {position: relative;box-sizing: border-box;height: auto;padding: 10px;font-size: 16px;}
.form-control:focus {z-index: 2;}
input[type="email"] {margin-bottom: -1px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
input[type="password"] {margin-bottom: 10px;border-top-left-radius: 0;border-top-right-radius: 0;}
table{width: 100%;margin-bottom: 10px;}
div[class="alert alert-secondary"]{margin-top: 15px;}
textarea{width: 100%;height: 150px;min-height: 150px; margin-top: 10px;}
.circle-link {height: 40px;width: 40px;border-radius: 40px;margin: 8px;background-color: white;border: 1px solid #eeeeee;
  display: inline-block;cursor: pointer;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.5s ease-out;
}
.circle-link img{margin-top: 7px;margin-left: 7px;}
.circle-link:hover { transform: translateY(-0.25rem); box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }