<div class="form" *ngIf="contact$ | async let contact">
  <h1 class="h3 mb-3 fw-normal">{{contact.title}}</h1>
  <i><markdown [data]="contact.infoapi"></markdown></i>
    
  <table>
    <tr>
      <td>
        <label class="visually-hidden">{{contact.nom}} <b style="color: red;">*</b></label>
        <input type="text" class="form-control" placeholder="{{contact.nom}}" [value]="nom" (input)="nom = $event.target.value">
      </td>
      <td>
        <label for="inputEmail" class="visually-hidden">{{contact.prenom}} <b style="color: red;">*</b></label>
        <input type="text" class="form-control" placeholder="{{contact.prenom}}" [value]="prenom" (input)="prenom = $event.target.value">
      </td>
    </tr>
  </table>

  <label class="visually-hidden">{{contact.mail}} <b style="color: red;">*</b></label>
  <input type="email" class="form-control" placeholder="{{contact.mail}}" autofocus [value]="email" (input)="email = $event.target.value">

  <label style="margin-top: 15px;" class="visually-hidden">{{contact.sujet}} <b style="color: red;">*</b></label>
  <input type="text" class="form-control" placeholder="{{contact.sujet}}" autofocus [value]="subject" (input)="subject = $event.target.value">

  <section style="margin-top: 20px;">
    {{contact.message}} <b style="color: red;">*</b><br>
    <textarea name="message" placeholder="{{contact.message}}..." [value]="message" (input)="message = $event.target.value"></textarea>
  </section>

  <p><b style="color: red;">*</b> {{contact.obligatoire}}</p>

  <button id="send" class="w-100 btn btn-lg btn-primary" (click)="sendMail()">
    {{contact.send}}
  </button>

  <div class="alert alert-secondary" role="alert">
    {{contact.texte}}
    <section>
      <a *ngFor="let item of social$ | async index as i" class="circle-link" title="{{item.name}}" href="{{item.route}}" target="_blank" rel="noopener">
        <img width="23" height="23" src="{{item.image}}"/>
      </a>
    </section>
  </div>
  <p class="text-muted">&copy; 2020 - 2021</p>
</div>

