<footer>
    <i style="margin-left:10px;"><b>&copy; 2020 - 2021 : Avanzino Aurélien</b> - Ce CV a été réalisé avec le framework <a href="https://github.com/angular/angular" target="blank"><u>Angular</u></a></i>
  </footer>