footer{ background-color:#1976d2;position: absolute;left: 0;right: 0;height: 50px; margin-top: 8px;display: flex;
    align-items: center;}
  footer a{color: white;align-items: center;}
  footer a:hover{color: black;}
  footer p {align-items: center;}