/* You can add global styles to this file, and also import other style files */
// Colors
$bg-color: rgb(0, 59, 73);
$dot-color: hsl(256,33,70);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

body {background:linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
	linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,$dot-color;
    background-size: $dot-space $dot-space;
}

.dark{filter: brightness(50%);}
.light{filter: brightness(1);}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
